.warp
  width 100%
  height 3000px
  background #f2f2f2
  .top
    position fixed
    width 100%
    height 150px
    background pink
    border 1px solid red
    .xiazaiApp
      position relative
      width 100%
      height 56px
      border 1px solid black
      display none
      z-index 102
  .rela
    background pink
    #close_down_bar
     position absolute
     top 14px
     left 0
     width 20px
     height 20px
     background-size 100%
    .appdowimg img
      display block
      width 100%
      height 56px
      border 1px solid black
      background-size 100%
   .search_commodity_bind
     width 100%
     height 50px
     border 1px solid black
     .dogLocation
       display inline-block
       text-align center
       border 1px solid black
      .dogLocation span
        color  #898989
    .search
       position relative
       border 1px solid black
       display inline-block
       margin: 16px 23px;
       .bind_search
         width 200px
         height 22px
         background #e9e9e9
         border-radius 4px
         color #bcbcbc
         text-indent 10px
         font-size 13px
         border 1px solid black
        .icon_search
          position: absolute;
          top 3px
          left 174px




