.warp {
  width: 100%;
  height: 3000px;
  background: #f2f2f2;
}
.warp .top {
  position: fixed;
  width: 100%;
  height: 150px;
  background: #ffc0cb;
  border: 1px solid #f00;
}
.warp .top .xiazaiApp {
  position: relative;
  width: 100%;
  height: 56px;
  border: 1px solid #000;
  display: none;
  z-index: 102;
}
.warp .rela {
  background: #ffc0cb;
}
.warp .rela #close_down_bar {
  position: absolute;
  top: 14px;
  left: 0;
  width: 20px;
  height: 20px;
  background-size: 100%;
}
.warp .rela .appdowimg img {
  display: block;
  width: 100%;
  height: 56px;
  border: 1px solid #000;
  background-size: 100%;
}
.warp .search_commodity_bind {
  width: 100%;
  height: 50px;
  border: 1px solid #000;
}
.warp .search_commodity_bind .dogLocation {
  display: inline-block;
  text-align: center;
  border: 1px solid #000;
}
.warp .search_commodity_bind .dogLocation span {
  color: #898989;
}
.warp .search {
  position: relative;
  border: 1px solid #000;
  display: inline-block;
  margin: 16px 23px;
}
.warp .search .bind_search {
  width: 200px;
  height: 22px;
  background: #e9e9e9;
  border-radius: 4px;
  color: #bcbcbc;
  text-indent: 10px;
  font-size: 13px;
  border: 1px solid #000;
}
.warp .search .icon_search {
  position: absolute;
  top: 3px;
  left: 174px;
}
